body {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

header {
    background-image: url("images/Rick-and-morty-header.jpg");
    background-color: lightblue;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:center;
    color: rgb(0, 0, 0);
    padding: 20px;
    height: 400px;
}
header h1{
    background-color: white;
    border-radius: 10px;
    display: table;
    font-style: oblique;
    margin: auto;
    padding: 10px;
    size: 200%;
}
header p{
    background-color: rgb(168, 165, 165);
    border-radius: 10px;
    display: table;
    margin: auto;
    padding: 3px;
    size: 200%;
}
@media screen and (max-width:970px){
    header{
        height: 300px;
    }
}
@media screen and (max-width:620px){
    header{
        height: 300px;
        background-size: 140%;
    }
}
ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
li {
    display: inline-block;

    margin: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;

}
h1,h2{
    text-align: center;
    text-decoration: underline;
    
}
div p{
    display: none;
}

.part{
    background-color: white;
    margin-bottom: 5px;
    padding-bottom: 5px;
    width: 95%;
}
section{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    flex-wrap: wrap;
}
div {
    margin: auto;
    background-color: lightgray;
    margin-top: 40px;
    border-radius: 10px;
}
img {
    border-radius: 10px;
}
section div img{
    height: 400px;
}
footer {
    background-color: black;
    color: white;
    font-style: oblique;
    padding: 20px;
    text-align: center;
}